[submodule "region_based_mini_ml"]
	path = region_based_mini_ml
	url = https://github.com/hsk/region_based_mini_ml
[submodule "region_infer"]
	path = region_infer
	url = https://github.com/hsk/region_infer
[submodule "ohori95"]
	path = ohori95
	url = https://github.com/hsk/ohori95
